*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(background3.jpeg);
    width: 100%;
    background: linear-gradient(to top black)50%;
    background-position: center;
    background-size: cover;
    height: 700px;
}

.nav{
    padding: 10px 10px;
   
}

.main .logo{
    color: aquamarine;
    padding: 20px 40px;
    float: left;
    font-family: EngraversGothic BT;
    cursor: pointer;
}


.nav ul {
    display: inline-flex;
    padding-top: 33px;  
    margin-left: 90px;
  
}


.navigator ul li{
   margin-left: 70px;
   list-style: none;
   
}

.navigator ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: 0.2s ease-in-out;
}

.navigator ul li a:hover{
    color: greenyellow;
}

.main .message{
    padding-left: 40px;
    margin-top: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.main .message h2{
    color: white;
    font-size: 45px;
}

.main .message span{
    color: yellow;
} 

.main .message p{
    line-height: 140%;
    font-size: 20px;
    font-family: Candara Light;
    color: linen;
} 
#SERVES{
    background-color: darkslategrey;
    height: 250px;
    width: 100%;
} 

#SERVES h2{
    padding: 20px 40px;
    text-align: center;
    font-family: Adobe Gothic Std B;
    font-size: 30px;
    color: black;
    background:linear-gradient(45deg, black, linen, white, black) ;
    margin-right: 350px;   
    margin-left: 350px;
    border-radius: 60% 60% 0 0;
    border-bottom: 4px solid black;
} 

