*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: rgba(0, 0, 0, 0.7) url(wooden2.jpeg);
    background-position: center;
    background-blend-mode: darken;
}

.main{
    background-image: url(background3.jpeg);
    width: 100%;
    background: linear-gradient(to top black)50%;
    background-position: center;
    background-size: cover;
    height: 700px;
    
}

.nav{
    padding: 10px 10px;
}

.main .logo{
    color: aquamarine;
    padding: 20px 40px;
    float: left;
    font-family: EngraversGothic BT;
    cursor: pointer;
}


.nav ul {
    display: inline-flex;
    padding-top: 33px;  
    margin-left: 90px;
  
}


.navigator ul li{
   margin-left: 70px;
   list-style: none;
   
}

.navigator ul li a{
    float: left;
    display: block;    
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.2s ease-in-out;
}

.navigator ul li a:hover{
    color: greenyellow;
}

.main .message{
    padding-left: 40px;
    margin-top: 110px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.main .message h2{
    color: white;
    font-size: 45px;
}

.main .message span{
    color: yellow;
} 

.main .message p{
    line-height: 140%;
    font-size: 20px;
    font-family: Candara Light;
    color: linen;
} 

.main .message h3{
    background-color: black;
    width: 130px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px yellowgreen;
    font-family:'Courier New', Courier, monospace ;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.main .message h3:hover{
    background: greenyellow;
    color: black;
}

.main .form{
    width: 250px;
    height: 350px;
    background:linear-gradient(45deg, black,white,gray,black);
    position: absolute;
    top: 175px;
    left: 885px;
    border-radius: 10px;
    padding: 25px;
    background: transparent;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 2px white;
}

.main .form h2{
    width: 200px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    margin-left: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid rgb(224, 221, 221) ;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.main .form:focus{
    outline:none;
}

::placeholder{
    color: rgb(224, 221, 221);
    font-family: Arial, Helvetica, sans-serif;
}

.main .form .btn-login{
    width: 150px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 8px;
    margin-left: 45px;
    border-radius: 10px;
    transition: 0.2s ease-in-out ;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main .form .btn-login a{
    color: black;
}

.main .form .btn-login:hover{
    background-color: rgb(27, 21, 21);
}

.main .form .btn-login a:hover{
    color: rgb(224, 221, 221);
}

.main .form .btn-login a{
    text-decoration: none;
}


.main .form .signup{
    margin-top: 20px;
    color: white;
    letter-spacing: 2px;
    padding: 2px;
}

.main .form .signup .btn-signup{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: transparent;
    transition: 0.2s ease-in-out;
}

.main .form .signup .btn-signup a{
    color:white
}

.main .form .signup .btn-signup a:hover{
    color:yellowgreen
}

#SERVES{
    background-color: black;
    height: 320px;
    width: 100%;
    border-bottom: 5px solid rgb(35, 126, 179);
} 


#SERVES .message{
    color: aliceblue;
    padding: 20px 40px;
    text-align: center;
    line-height: 30px;    
}

#SERVES .message h2{
    font-family:Arial;
    font-size: 40px;
}

#SERVES .message p{
    padding-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#SERVES .Burger-name{
    background-color: black;
}

#SERVES .Burger-name h2{
    padding: 20px 40px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: black;
    background:linear-gradient(45deg,#ffafbd , #ffc3a0);
    margin-right: 400px;   
    margin-left: 400px;
    box-shadow: 0px 0px 10px 2px darksalmon;
    border-radius: 60% 60% 0 0;
    border-bottom: 4px solid coral;
}

#SERVES .Burger-name p{
    color: aliceblue;
    padding: 20px 40px;
    text-align: center;
    line-height: 30px;
    padding-top: 40px;
    font-family: sans-serif;
}
#SERVES .Burger{
    display: flex;
    padding: 10px 180px;
    justify-content: space-around;
    background-color: black;
    height: 150px;
    border-bottom: 5px solid yellowgreen;
}
#SERVES .Burger img{
    width: 220px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 8px;
    box-shadow: 10px 10px 0px 0px black;
    display: block;
    transition: 0.5s ;
}

#SERVES .Burger img:hover{
    transform: scale(1.3);
    box-shadow: 0px 0px 5px 2px rgb(110, 110, 110);
    z-index: 5;
}

#SERVES .Burger > div{
    display: flex;
    justify-content: space-between;
    background: white;
    height: 340px;
    width: 250px;
    border-radius: 5px;
    background:linear-gradient(50deg,rgb(92, 90, 90),#ee9ca7 , #ffdde1 , rgb(92, 90, 90));
    box-shadow: 0px 0px 4px 2px white;
}
#SERVES .Burger .listOne{
    transition: 0.5s;
}
#SERVES .Burger .listOne:hover{
    width: 250px;
    margin-top: 40px;
}


#SERVES .Burger .listOne h3{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: 235px;
    margin-left: 20px;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border-bottom: 5px solid black;
}

#SERVES .Burger .listOne p{
    color: black;
    position: absolute;
    margin-top: 293px;
    margin-left: -65px;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#SERVES .Burger .listOne .star{
    margin-left: auto;
    margin-right: auto;
}

#SERVES .Burger .listOne .star ul{
    display:inline-flex;
    list-style: none;
    color: rgb(29, 29, 28);
    margin-left: -150px;
}

#SERVES .Burger .listOne .star ul li{
    margin-top: 290px;
    margin-left: 5px;
    font-size: 20px;
}

#SERVES .Burger .listTwo{
    transition: 0.5s;
}
#SERVES .Burger .listTwo:hover{
    width: 250px;
    margin-top: 40px;
}

#SERVES .Burger .listTwo h3{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: 23px;
    margin-left: 20px;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border-bottom: 5px solid black;
}

#SERVES .Burger .listTwo .star{
    margin-left: auto;
    margin-right: auto;
}

#SERVES .Burger .listTwo .star ul {
    display:inline-flex;
    list-style: none;
    color: rgb(29, 29, 28);
    margin-left: 93px;
}
#SERVES .Burger .listTwo .star ul li{
    margin-top: 80px;
    margin-left: 7px;
    font-size: 20px;
}

#SERVES .Burger .listTwo p{
    color: black;
    position: absolute;
    margin-top: 83px;
    margin-left: -63px;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#SERVES .Burger .listThree{
    transition: 0.5s;
}
#SERVES .Burger .listThree:hover{
    width: 250px;
    margin-top: 40px;
}

#SERVES .Burger .listThree .star ul {
    display:inline-flex;
    list-style: none;
    color: rgb(29, 29, 28);
    margin-left: -220px;
    margin-top: 295px;
}
#SERVES .Burger .listThree .star ul li{
    margin-top: -3px;
    margin-left: 7px;
    font-size: 20px;
}


#SERVES .Burger .listThree h3{
    text-align: center;
    color: black;
    position: absolute;
    margin-top: 235px;
    margin-left: 20px;
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border-bottom: 5px solid black;
}

#SERVES .Burger .listThree .star{
    margin-left: auto;
    margin-right: auto;
}

#SERVES .Burger .listThree p{
    color: black;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


/*MILK TEA CLASS*/


#SERVES .Milktea-name{
    background-color: black;
    margin-top: 130px;
    border-top: 5px solid yellowgreen; /*TRY*/
}
#SERVES .Milktea-name h2{
    padding: 20px 40px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: black;
    background:linear-gradient(45deg, black, linen,lightgoldenrodyellow, white, black) ;
    margin-right: 400px;   
    margin-left: 400px;
    box-shadow: 0px 0px 10px 2px darksalmon;
    border-radius: 60% 60% 0 0;
    border-bottom: 4px solid coral;
}

#SERVES .milktea{
    display: flex;
    padding: 60px 120px;
    justify-content: space-around;
    background-color: black;
    height: 88px;
    border-bottom: 5px solid yellowgreen;
}

#SERVES .milktea img{
    width: 230px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px 2px white;
}


/*FRIES CLASS*/

#SERVES .Fries-name{
    background-color: black;
    margin-top: 130px;
    border-top: 5px solid yellowgreen; /*TRY*/
}

#SERVES .Fries-name h2{
    padding: 20px 40px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: black;
    background:linear-gradient(45deg, black, linen,lightgoldenrodyellow, white, black) ;
    margin-right: 400px;   
    margin-left: 400px;
    box-shadow: 0px 0px 10px 2px darksalmon;
    border-radius: 60% 60% 0 0;
    border-bottom: 4px solid coral;
}

#SERVES .fries{
    display: flex;
    padding: 60px 120px;
    justify-content: space-around;
    background-color: black;
    height: 88px;
    border-bottom: 5px solid yellowgreen;
}

#SERVES .fries img{
    width: 230px;
    height: 220px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0px 0px 20px 2px white;
}


/*LOCATION DETAILS*/

#LOCATION{
    display: flex;
    padding: 20px 40px;
    margin-top: 1700px;
    background-color: black;
    border-bottom: 5px solid yellowgreen;
    height: 450px;
    border-top: 5px solid yellowgreen ; /*TRY*/

}

#LOCATION .details {
    flex: 1;
    
}

#LOCATION h2,h3,h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: linen;
}

#LOCATION p{
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#LOCATION .frame{
    width: 200px;
    height: 90px;
    flex: 1;
    margin-left: 90px;
}

#LOCATION .details #DETAILS{
    margin-top: 20px;
    background-color: yellowgreen;
    width: 100px;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 0px 5px 2px yellow;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 20px;
}
#LOCATION .details #DETAILS:hover{
    background-color: white;
}

#LOCATION .details #DETAILS p{
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
    color: black;
    font-weight: bold;
}

/*CONTACTS INFO*/

#CONTACTS{
    background-color: black;
    color: white;
    margin-top: 120px;
    height: 180px;
    border-top: 5px solid yellowgreen ; /*TRY*/
    
}

#CONTACTS p{
    text-align: center;
    font-family:monospace;
    line-height: 18px;

}

#CONTACTS .h{
    width: 1200px;
    padding-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
}
#CONTACTS .icon{
    display: flex;
    margin-bottom: 20px;
    color: white;
    width: 500px;
    margin-left: 480px;
    font-size: 25px;
    height: -100px;
}

#CONTACTS .icon > div{
    width: 90px;
    height: 30px;
    cursor: pointer;
}




